/* MOBILE */
.statistics-page__title-div--mobile {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.statistics-page__title--mobile {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 70px;
    margin-top: 50px;
}

.statistics-page__grid--mobile {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
}

.angular {
    grid-column: 2/6;
    grid-row: 1;
}

.react {
    grid-column: 4/8;
    grid-row: 2;
}

.java {
    grid-column: 2/6;
    grid-row: 3;
}

.css {
    grid-column: 4/8;
    grid-row: 4;
}

.clean {
    grid-column: 2/6;
    grid-row: 5;
}

.typescript {
    grid-column: 5/8;
    grid-row: 6;
}

.testing {
    grid-column: 2/6;
    grid-row: 7;
}

.security {
    grid-column: 5/8;
    grid-row: 8;
}

.material {
    grid-column: 3/6;
    grid-row: 9;
}

.large-font {
    font-size: 2rem;
    text-align: center;
}

.medium-font {
    font-size: 1.6rem;
    text-align: center;
}

.small-font {
    font-size: 1.2rem;
    text-align: center;
}





.statistics-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}



.large-statistics {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-end;
    margin-bottom: 120px;
}

.medium-statistics {
    display: flex;
    flex-direction: row;
    gap: 120px;
    align-items: flex-end;
    margin-bottom: 50px;
}

.small-statistics {
    display: flex;
    flex-direction: row;
    gap: 170px;
    align-items: flex-end;
    margin-left: 60px;
}

.stat {
    width: 25%;

}

.statistics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 50px
}

.stat-page__title {
    font-size: 3.5rem;
    grid-row: 1;
    margin-bottom: 100px;
}