/* .stat {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 50px 50px 50px;
    justify-content: space-evenly;
} */
.stat {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  margin-bottom: 25px;
}


.stat__pie {
  width: 250px;
  grid-column: 1/6;
  grid-row: 2;
}

.stat__title {
  align-self: center;
  justify-self: center;
  font-size: 1.9rem;
  text-align: center;
}

.large {
  width: 200px;
  border-radius: 50%;
  margin-top: 23px;
  border: 0.2px solid rgb(202, 200, 200);
}

.medium {
  width: 150px;
  border-radius: 50%;
  margin-top: 23px;
  border: 0.2px solid rgb(202, 200, 200);
}

.small {
  width: 100px;
  border-radius: 50%;
  margin-top: 23px;
  border: 0.2px solid rgb(202, 200, 200);
}
