/* MOBILE */
.mobile-about-page {
    display: flex;
    flex-direction: column;
}

.about-card--mobile {
    width: 100%;
}

.about-card--back--mobile {
    align-items: center;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    aspect-ratio: 1/1;
    justify-items: center;
    text-align: center;
    font-size: 0.8rem;
}

.about-card__icon--mobile {
    width: 75px;
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    margin-top: 100px;
}

.about-card__title--mobile {
    font-size: 1.2rem;
}


/* GENERAL */
.about-card {
    width: 50%;

}

.about-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* CARD BACK */
.about-card--back {
    align-items: center;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(7, 1fr);
    aspect-ratio: 1/1;
    justify-items: center;
    text-align: center;
}

.about-card__icon {
    width: 125px;
    grid-row: 3;
    grid-column: 2;
    align-self: center;
}

.about-card__title {
    font-size: 2rem;
    padding-bottom: 15px;
}

.about-card__text {
    line-height: 1.8rem;
}

.about-card__text-div {
    display: flex;
    flex-direction: column;
    grid-row: 5;
    grid-column: 2;
}


/* CARD FRONT */
.about-card--front {
    aspect-ratio: 1/1;
    overflow: hidden;
}

.about-card__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

