.bookmark {
    display: inline-block;
    position: relative;
    margin: 0 0 0 -80px;
    padding: 10px 20px 10px 78px;
    background-color: #ffcd38;
    color: #fff;
    line-height: 1.1em;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}

.bookmark::after {
    width: 10px;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: -10px;
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ebbd34;
}

.bookmark__text {
    font-size: 1.5em;
}

